body{
    background-color: #c4edf5;
    margin: 0; 
    text-align: center;
    padding-top: 25px;
    font-family: 'Merriweather', serif; 
}
.header{
    height: auto;
    margin: 0px;  
}
.nome{
    display: inline;
    color:#66BFBF
}
#nome2{
    text-align: center;
}
#p-nome{
    margin:0;
    font-size: 2.5rem;
    color: #11999E
}
#nuvem1{
    position:absolute;
    right: 350px;
}
#nuvem2{
    position: absolute;
    left: 325px;
}
#montanha{
    position: relative;
    left: 20px;
}
h1{
    margin: 50px auto 0 auto;
    width: 10%;
    margin: 0 auto 0 auto;
    font-family:'Sacramento',cursive;
    font-size: 562.5%; /* 16px=1em=100% */ 
}
h2,h3{
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;
    line-height: 2;
}

.título{
    text-decoration: underline;
    font-weight: bol;
}
#imagemSoftware{
    position: relative;
}
#Software{
    position: absolute;
}
.image{
    filter: drop-shadow(3px 0 0 0 , white);
}

.text{
    text-align: center;
    color: white;
}

.footer-link {
    color: #11999E;
}
.btn{
    color: #11999E ;
}